* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* thành phần dùng chung */
.container {
    max-width: 1200px;
    margin: auto;


    /* background-color: pink; */

}

/* header */
.header {
    width: 100%;


    background-color: #515154;
}

.wrap-header {
    display: flex;
    justify-content: space-between;
}

.header-left {
    /* width: 25%; */
    /* background-color: blue; */
}


.header-left a {
    display: flex;
    align-items: center;
    height: 64px;
}

.header-left a img {
    max-width: 173px;
    opacity: 1;
    object-fit: cover;
}



.header-center {
    /* width: 50%; */

    /* height: 64px; */
    /* background-color: green; */
}

.header-center .menu-main {
    display: flex;
    align-items: center;
    height: 64px;

}

.header-center .menu-main li {
    list-style: none;
    /* height: 64px; */
    /* line-height: 64px; */
    padding: 23px 0;

    position: relative;
}

.header-center .menu-main li a {
    text-decoration: none;
    padding: 0 20px;
    color: #d2d2d7;
    font-size: 15px;
}

.header-center .menu-main li a i {
    font-size: 13px;
    margin-left: 3px;
}

.header-center .menu-main li:hover {
    background-color: #626265;
    cursor: pointer;

}

.header-center .menu-main li:hover a {

    color: #fff;
}


.header-right {
    /* width: 25%;
    
    height: 64px;
    background-color: orange; */
}

.header-right .icon-user {
    display: flex;
    align-items: center;
    height: 64px;
    justify-content: flex-end;
}

.icon-user li {
    list-style: none;
    position: relative;
}

.icon-user li a {
    color: #d2d2d7;
    padding-left: 15px;
}

.icon-user li a i {
    font-size: 20px;
}

.icon-user li span {
    position: absolute;
    bottom: 0;
    right: -6px;
    width: 15px;
    height: 15px;
    background-color: #fff;
    font-size: 14px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* banner */

.banner-main .owl-carousel {
    position: relative;
}

.banner-main .owl-nav {
    /* background-color: red; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.banner-main .owl-dots {
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.owl-nav .owl-prev {
    width: 50px;
    height: 50px;
    background-color: #515154;
    border-radius: 50%;
}


/* sub-menu */

.sub-menu-c1 {
    position: absolute;
    background-color: #fff;
    top: 100%;
    left: 0;
    width: 250px;
    z-index: 999;
    display: none;
}

.header-center ul li:hover .sub-menu-c1{
    display: block;
}

.header-center ul li:hover .sub-menu-c1 li a {
    color: #111;
}

.header-center .sub-menu-c1 li a {
    color: #111;
}

.header-center ul li .sub-menu-c1 li:hover a {
    color: #fff;
}

/* sub-menu-c2 */
.header-center .sub-menu-c1 li{
    position: relative;
}

.header-center ul .sub-menu-c1 li:hover li a{
    color: #111;
}

.sub-menu-c2{
    position: absolute;
    top: 0;
    left: 100%;
    width: 250px;
    display: none;
    background-color: #fff;
}

.header-center .sub-menu-c1 li:hover .sub-menu-c2{
    display: block;
}

.header-center .sub-menu-c1 .sub-menu-c2 li:hover a{
    color: #fff;
}

/* code phia tren -> desktop, tivi,may chieu,... */
/* responsive-tablet */
@media screen and (max-width:1163px) {
    .header-center{
        display: none;
    }

    .wrap-header{
        position: relative;
    }

    .header-left{
        
    }
}
@media screen and (max-width:768px) {
    
}
/* responsive-mobile */
@media screen and (max-width:410px) {
    
}