*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nhung tp dùng chung */
.container{
    width: 90%;
    margin: auto;
}

.row{
    display: flex;
    margin: 0 -15px;
   flex-wrap: wrap  ;
}

.column{
    /* width: calc(100% / 5); */
    padding: 0 15px;   
}

.column-5{
    width: calc(100% / 5);
}

.column-4{
    width: calc(100% / 4);
}

.column-3{
    width: calc(100% / 3);
}

/* sp hot */
.product-hot{
    width: 100%;
   padding: 100px 0;
    background-color: pink;
}

.content{
    width: 100%;
    height: 400px;
    background-color: green;
    margin-bottom:30px ;
}