* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    width: 100%;
    margin-top: 200px;
}
.main .menu{
    position: relative;
}

.menu li {
    padding: 10px;
    list-style: none;
    background-color: pink;
    border-bottom: 1px solid #333;
    width: 200px
}

.menu li:last-child {
    border: none;
}

.menu li a {
    text-decoration: none;
    color: #333;
   
}

.menu li:hover>a {
    color: orange;
    cursor: pointer;
}

.menu li:hover {
    background-color: #fff;
    cursor: pointer;
}

.menu .sub-menu{
    position: absolute;
    left:  200px;
    top: 0;
    border: 1px solid #fff;
}

.sub-menu{
    display: none;
}

.menu li:hover>.sub-menu{
    display: block;
}

